<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<header>
  <nav class="navbar navbar-expand-md navbar-dark sticky-top" style=" background-color: #198532">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Főoldal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resztvevo">Résztvevők</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sorok">Sörök</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<body>