<%- include('header') -%>
<div class="container pt-5">
	<div class="row justify-content-around">
		<div class=".col-6">
			<h1>Sörök piaci részesedése</h1>
			<div id="chartdiv"></div>
		</div>

		<div class=".col-6">
			<h1>Sörgyártók piaci részesedése</h1>
			<div id="chartdiv2"></div>
		</div>
	</div>
</div>

<style>
	#chartdiv {
		width: 100%;
		height: 500px;
	}
</style>

<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<style>
	#chartdiv2 {
		width: 100%;
		height: 500px;
	}
</style>
<script>
	am4core.ready(function() {
		// Themes begin
		am4core.useTheme(am4themes_animated);
		// Themes end

		// Create chart instance
		var chart = am4core.create('chartdiv', am4charts.PieChart);

	  // Add data
	  let data =  <%- sor_chart %>;

	  chart.data = data;

		// Add and configure Series
		var pieSeries = chart.series.push(new am4charts.PieSeries());
		pieSeries.dataFields.value = 'percentage';
		pieSeries.dataFields.category = 'name';
		pieSeries.slices.template.stroke = am4core.color('#fff');
		pieSeries.slices.template.strokeWidth = 2;
		pieSeries.slices.template.strokeOpacity = 1;
		pieSeries.ticks.template.disabled = true;
		pieSeries.alignLabels = false;
		pieSeries.labels.template.text = "{value.percent.formatNumber('#.0')}%";
		pieSeries.labels.template.radius = am4core.percent(-40);
		pieSeries.labels.template.fill = am4core.color('white');

		// This creates initial animation
		pieSeries.hiddenState.properties.opacity = 1;
		pieSeries.hiddenState.properties.endAngle = -90;
		pieSeries.hiddenState.properties.startAngle = -90;

		chart.legend = new am4charts.Legend();
	}); // end am4core.ready()
</script>
<!-- Chart code -->
<script>
	am4core.ready(function() {
		// Themes begin
		am4core.useTheme(am4themes_animated);
		// Themes end

		// Create chart instance
		var chart = am4core.create('chartdiv2', am4charts.PieChart);

		// Add data
	   let data =  <%- sorgyar_chart %>;

	   chart.data = data;

		// Add and configure Series
		var pieSeries = chart.series.push(new am4charts.PieSeries());
		pieSeries.dataFields.value = 'percentage';
		pieSeries.dataFields.category = 'name';
		pieSeries.slices.template.stroke = am4core.color('#fff');
		pieSeries.slices.template.strokeWidth = 2;
		pieSeries.slices.template.strokeOpacity = 1;
		pieSeries.ticks.template.disabled = true;
		pieSeries.alignLabels = false;
		pieSeries.labels.template.text = "{value.percent.formatNumber('#.0')}%";
		pieSeries.labels.template.radius = am4core.percent(-40);
		pieSeries.labels.template.fill = am4core.color('white');

		// This creates initial animation
		pieSeries.hiddenState.properties.opacity = 1;
		pieSeries.hiddenState.properties.endAngle = -90;
		pieSeries.hiddenState.properties.startAngle = -90;

		chart.legend = new am4charts.Legend();
	}); // end am4core.ready()
</script>
<!-- Resources -->

<%- include('footer') -%>
